/*CHANGES*/
html 
{
	font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%;
}
a
{
	padding: 10px;
}
header
{
} 
body
{
	background-color: #ffffff;
	
}
h1
{
	float: left;
	font-family: "Times New Roman", serif;
	font-size: 24px;
	padding-top:10px;
}
p
{
	font-family: "Times New Roman", serif;
	font-size: 20px;
}
div 
{
	margin: 20px;
}
nav
{
	clear: both;
	border-top: thin solid;
	border-bottom: thin solid;
	padding: 5px;
}
li
{
	padding-left: 10px;
}
#logo
{
	float: left;
}
#container 
{
	margin: 20px auto;
	width: 90%;	
	background-color: #E4FFE3;
	height: 100%;
}
#loginBox
{
	float: right;
	width: 280px;
	text-align: right;	
}
#smallDescr
{
	width: 280px;
	float: left;
}
#innerContainer
{
	height: 100%;
}
footer
{
	border-top: thin solid;
	text-align: center;
	clear: both;
	max-width: 90%;
}
