body {
	background: black;
	color: white;
	font-size: 20pt;
	text-align: center;
	width: 95%;
	margin: auto;
}
input {
	width: 90%;
	height: 50px;
	margin: auto;
}
input[type=submit], input[type=reset] {
	width: 45%;
	margin: 0px auto;
}
form {
	width: 100%;
	
}
label { margin: 0;}

div#page {
	width: 100%;
	margin-top: 20px;
}
div.labels {
	text-align: left;
	width: 90%;
	padding: 0;
	margin: 0px auto;
}
img.logo {
	margin-bottom: 10px;
}
input.short {
	height: 30px;
}